*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body {
    background-color: #e6e6e6;
}
h4 {
    margin-top: 0;
    padding: .8rem 0;
}
section {
    margin-top: 4rem;   
}
.container {
    background-color: #f2f2f2;
    padding: 2rem;
    box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, 0.1) ;
}
i.material-icons {
    margin-top: 1.5rem ;
}
.input-field:nth-child(4){
    margin-top: 2rem;
}